body{
  margin: 0;
  padding: 0;
}
.gridcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid
{
  width: 400px;
  height: auto;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}
.list{
border: 1px solid black;
margin: 10px;
padding: 40px;
border-radius: 30px;
}
.listcontainer{
  padding-inline: 10px;
}

.data-userid{
font-size: 50px;
font-weight: 500;
}
.data-title{
  font-size: 50px;
  font-weight: 500;
}
.data-complete{
  font-size: 50px;
  font-weight: 500;
}
.data-id{
  font-size: 50px;
font-weight: 500;
}
.btn{
  margin-inline: 45%;
  width: 200px;
  height: 40px;
  margin-block:20px;
}